<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">
        Trends 1
        </a>
        <a class="panel-block">
        Trends 2
        </a>
        <a class="panel-block">
        Trends 3
        </a>
        <a class="panel-block">
        Trends 4
        </a>
        <a class="panel-block">
        Trends 5
        </a>
        <a class="panel-block">
        Trends 6
        </a>
    </nav>
</div>